AIRFLOW_UID=50000

# ── PostgreSQL Source (contenedor Docker) ─────────────────────────
PG_SOURCE_USER=labuser
PG_SOURCE_PASS=labpass
PG_SOURCE_DB=labdb

# ── PostgreSQL Warehouse (contenedor Docker) ──────────────────────
PG_WH_USER=labuser
PG_WH_PASS=labpass
PG_WH_DB=warehousedb

# ── MongoDB local (contenedor Docker) ─────────────────────────────
MONGO_USER=labuser
MONGO_PASS=labpass
MONGO_PORT=27017
MONGO_DB=lab5_db
# URI para scripts locales (apunta a localhost)
MONGO_URI=mongodb://labuser:labpass@localhost:27017/?authSource=admin
